HTTP/1.1 200 OK
Server: nginx
Date: Thu, 15 Dec 2011 00:43:03 GMT
Content-Type: text/css
Content-Length: 8016
Last-Modified: Wed, 22 Dec 2010 11:22:42 GMT
Connection: close
Accept-Ranges: bytes

/*by:pinked*/

/*====================MAIN=*/
*, html, body {
  margin:0;
  padding:0;

}
img {
  border:0
}
.clear {
  clear:both;
  width:0;
  height:0;
  float:none;
}
/*====================LINKS=*/

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}
a.darkblue {
  color:#1e5aa0;

}
a.bold {
  font-weight:bold;
  font-size:1em;
}

#right_menu a {
  text-indent:-32576px;
  display:block;
  position:relative;
  cursor:pointer;
}

#right_menu a.favourites {
  width:95px;
  height:20px;
  background:url("../images/add_favourites.gif") no-repeat;
  top:8px;
  left:10px;
}
#right_menu a.main {
  width:120px;
  height:18px;
  background:url("../images/main_page.gif") no-repeat;
  top:14px;
  left:14px;
}
#category ul a {
  padding-left:40px;
  position:relative;
  top:4px;
  color:#0D72BA;
}
.post a {
  font-size:11px;
  color:#4368A9;
  font-family: verdana;
  font-weight: bold;
}

.post {
  font-size:12px;
  font-family: verdana;
}


.post span a {
  font-weight:bold;
  padding-right:2.6em;
  background:url("../images/more.gif") right no-repeat;
  color:#302124;
}


.sub{
 text-align: center;
 padding-bottom: 10px;
  
 
 
}

.sub a {
  font-size:1.2em;
  color:#302124;
  padding-bottom:2px;
  padding-left:20px;
}

div.sends  {padding: 3px  13px  8px  0px; background-position: 0% 40%; background-image:url("../images/send_friend.gif"); background-repeat:no-repeat; display: inline; }
div.sends a {font-size:12px; font-weight: normal }

div.views   {padding: 3px  13px  8px  0px; background-position: 0% 40%; background-image:url("../images/views.gif"); background-repeat:no-repeat; display: inline; }
div.views  a {font-size:12px; font-weight: normal }
div.comments  { padding: 3px  3px  8px  0px; background-position: 0% 40%;   background-image:url("../images/comments.gif"); background-repeat:no-repeat; display: inline; }
div.comments a {font-size:12px;  font-weight: normal }

div.comments2 { padding: 6px  3px  8px  0px; background-position: 0% 40%;   background-image:url("../images/comments.gif"); background-repeat:no-repeat; display: inline; }
div.comments2 a {font-size:12px;  font-weight: normal }


#right_menu a.creative  {
  width:156px;
  height:29px;
  background:url("../images/send_creative.png") no-repeat;
  text-indent:-32576px;
  display:block;
}
#right .ad a {
  color:#3360A5;
}
/*====================HEADINGS=*/
#category h2 {
  width:100%;
  height:26px;
  background:url("../images/shapka.gif") no-repeat;
  color: #3a7cc0;
  font: 14px verdana;
  text-align: left;
}

table.post_tab{
  margin-bottom : 10px

}

table.post_tab td.link-category a {
  font-size:1.0em;
  margin-right: 5px;
  font-family: verdana;
  font-weight: bold;
  line-height:26px;
}

table.post_tab td.link-category {

  background:url("../images/post_cat_line.gif") repeat-x;
  text-indent:0px;
}



table.post_tab h4 {
  height:26px;
  color:#696B6D;
  background-color:#D1EEFC;
  text-transform:uppercase;
  font-size:1.4em;
  font-weight:normal;
  text-indent:1em;
  line-height:26px;
  text-align:left;
}

table.post_tab h3 a{
  text-decoration: none;
  font-size: 10px;
  color: #000000;
}


table.post_tab h4 a{
  text-decoration: none;
  color: #696B6D;
}

table.text {

}
/*====================LISTS=*/
#category ul {
  width:204px;
  height:300px;
  position:relative;
  top:16px;
  left:16px;
  font:bold 1.1em Verdana,sans-serif;
}
#category ul li {
  width:100%;
  height:25px;
  display:block;
  border-bottom:solid 1px #D8E5F5;
  background-position:0 2px;
  background-repeat:no-repeat;
}
#category ul li.fun {background-image:url("../images/cat_prikol.gif");}
#category ul li.games {background-image:url("../images/cat_games.gif");}
#category ul li.flash {background-image:url("../images/cat_flash.gif");}
#category ul li.girls {background-image:url("../images/cat_girls.gif");}
#category ul li.auto {background-image:url("../images/cat_auto.gif");}
#category ul li.news {background-image:url("../images/cat_news.gif");}
#category ul li.inet {background-image:url("../images/cat_inet.gif");}
#category ul li.interesting {background-image:url("../images/cat_interesting.gif");}
#category ul li.story {background-image:url("../images/cat_story.gif");}
#category ul li.magic {background-image:url("../images/cat_magic.gif");}
#category ul li.video {background-image:url("../images/cat_video.gif");}
#category ul li.users {background-image:url("../images/cat_users.gif");}
/*====================CLASS=*/
.caps {
  text-transform:uppercase;
}
.post {
  margin-left: 0px;
  text-align:justify;
  color:#363637;
  padding-bottom: 20px
}
.post > .sub {
  width:450px;
  height:25px;
  margin:5px auto;
}
#right .ad {
  width:152px;
  height:64px;
  border:solid 1px #68B4E4;
  background-color:#EEF9FE;
  margin:5px 0;
  margin-left:1px;
  color:#000;
  font-size:.8em;
}
/*====================ID's=*/
#ziza {
  background-color: #FFF;
  color:#000;
  font:0.8125em Verdana, sans-serif;
}

#header {
  width:100%;
  height:141px;
  background:url("../images/header.jpg") repeat-x;

}
#search {
  margin-left: 5px;
  display: block;
  margin-bottom: 10px;
}




#right_menu {
  position:absolute;
  left:100%;
  top:23px;
  margin-left:-167px;
  width:151px;
  height:64px;
  background:url("../images/links.gif") no-repeat;

}
#category {
  width:240px;
  height:393px;
  background:url("../images/category_bottom.gif") bottom no-repeat #F5FAFD;
}

#posts {

  text-align: left;
}


#right {
  width:156px;
  height:100px;
  position:absolute;
  left:100%;
  top:168px;
  margin-left:-156px;

}
/*====================IMAGES=*/
#header img.top_logo {
  position:relative;
  left:15px;
  top:2px;
  width:185px;
  height:111px;
}

/*.post img {
  margin:18px auto;
  display:block;
}
*/
/*====================FORMS=*/
#search form {
  display: inline;
  float: left;
  margin-top: 7px;
  padding-right: 5px;
  color: #4368A9;
}


#search form input, #search  form select, #search  form option {
  margin: 2px 2px;
  border:1px solid #007ac0;
  color:#68686a;
  font-size:0.8em;
  font-weight:bold;
  text-indent:2px;
  
  padding: 2px 2px;
}


#search input.submit {
  width:56px;
  height:16px;
  padding: 2px 3px;
  border:0;
  color:#007ac0;
  background:url("../images/enter.gif") no-repeat;
  margin-bottom: 2px;
  font-weight: bold
}

form.search_form input.submit {
  width:56px;
  height:16px;
  padding: 2px 3px;
  border:0;
  color:#007ac0;
  background:url("../images/enter.gif") no-repeat;
  margin-bottom:-2px;
  font-weight: bold
}

form.search_form  input, form.search_form  form select {
  height:16px;
  border:1px solid #007ac0;
  color:#68686a;
  font-size:0.8em;
  font-weight:bold;
  text-indent:2px;
}

form.search_form form select {
  margin-bottom:-1px;
}


/*====================OTHER=*/

.table_st  a {
   color:#1e5aa0;
}

table.comments a {
  color:#1e5aa0;
}

table.comments td{
  color:#000000;
  font: 12px Verdana;
  color:#1e5aa0;
}

table.comments .date{
  color:#000000;
  font: 10px Verdana;
  color:#1e5aa0;
}



table.bottom td{
  color:#000000;
  font: 10px Verdana
}

.head   {
 color: #3a7cc0;
 font: 14px verdana;
 text-align: left;
 margin-left: 20px;
 font-weight: bold;
}


/*====================ИНФОРМЕР LOVEPLANET=*/
#LV_PL  {
  padding: 5px  0px 10px 20px;
}

table.informer   {
  border: 1px solid #000000;
  padding: 0px 5px;

}

table.informer  td a {
  color: #
}

table.informer  td.url_pl  {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
}

table.informer  td.url_pl a {
   text-decoration: underline;
}

table.informer  td.text_lv_pl {
  padding-left: 10px;
  color: #000000;
}

table.informer  td.text_lv_pl a {
  font-size: 12px;
  font-weight: bold;
  text-decoration: underline;
}
/*====================ИНФОРМЕР LOVEPLANET=*/

.share_buttons {padding: 10px 0 20px;}
.share_buttons div {float: left;}
.share_buttons .shbutton {padding-right: 20px; height: 20px;}
*html .share_buttons .shbutton {padding-top: 1px;}